.banner{
    margin: 0;
    background: #FFFFFF;
    padding: 2px 15px 5px 15px;
}



nav ul{
    display: inline;
}

nav ul li a{
    color: white;
}

nav ul li{
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 20px;
}

.dash_body {
   color: #FFFFFF;
    margin: 2em;

}
/*******EGO DASHBOARD STYLING***/
.dash_main_body{
    width: 80%;
    margin: 1% 5%;
    padding:10px;

    background-color:whitesmoke ;   
    display: inline-block;
    border-radius: 10px;
    min-height: 100vh;
    max-height: fit-content;
}

.dash_grid{
    border-radius: 10px;
    margin: 1.5%;
    padding: 15px;
    width: 95%;
    max-height: inherit;

    /* Handle the grid layout */
    display: inline-grid;
    grid-column-gap: 1.5%;
    grid-row-gap: 10px;
    grid-template-columns: auto auto 0px;

}

.grid_item{
    border: 3px solid rgba(0, 29, 122, 0.72);
    width: 100%;
    min-width: 100%;
    margin: 5px;
    border-radius: 10px;
    padding: 5px 5px;
    display: inline-block;  
    height: 30vmax;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.89);
      
}

.grid-item-heading{
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #0B3865;
    color: white;
}
p {
    font-size: medium;
}

.clash-detials
{
    padding: 2px;
    max-height: 50px;
    text-align:left;
    display: inline;
    color: black;
}

.clash-date
{
    font-size: small;
    padding: 2px;
    text-align:right;
}
.clash-item{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-top: 4px;
    border:2px solid rgba(226, 15, 15, 0.72);
    background-color: wheat;
}

.btn-view-clash{
    color: white;
    display: inline-block;
    width: 250px;
    padding: 5px;
    background-color:  #0B3865;
    
}
.btn-view-clash a{
    color: white;
    text-decoration: none;
    text-align: center;
}

.btn-view-clash:hover{
    cursor: pointer;
    background-color: rgb(16, 91, 165);
}

.dash_option{
    display: inline-block;
    background-color:  #0B3865 ;
    width: 20%;
    padding:15px;
}

.dash_option a{
    color: white;
    font-size: larger;
    

}

.dash_option:hover{
    cursor: pointer;
    background-color: rgb(16, 91, 165);
}

/*******END OF EGO DASHBOARD STYLING*****/

.timing{
    margin-left: 34em;
}


.discription{
    margin: 2em;
    color: #FFFFFF;
    resize: none;
}

.special{
    color: #FFFFFF;
    align-self: center;
    text-align: center;
}

.courseCodes{
    padding:5px;
    width: 200px;
    height: 250px;
    background-color: white;
    color: black;
    display: inline-block;
}

.add-course-btn{
    width:25px;
    height:25px;
    font-size: large;
    font-weight: bold;
    border:2px solid white;
    padding:5px;
    color: white;
    text-decoration: none;
}

.add-course-btn:hover{
    background-color: white;
    color: #0B3865;
    cursor: pointer;
}