.banner{
    margin: 0;
    background: #FFFFFF;
    padding: 2px 15px 5px 15px;
}



nav ul{
    display: inline;
}

nav ul li a{
    color: white;
}

nav ul li{
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 20px;
}

.dash_body {
   color: #FFFFFF;
    margin: 2em;

}

.timing{
    margin-left: 34em;
}


.discription{
    margin: 2em;
    color: #FFFFFF;
    resize: none;
}

.special{
    color: #FFFFFF;
    align-self: center;
    text-align: center;
}

.courseCodes{
    padding:5px;
    width: 200px;
    height: 250px;
    background-color: white;
    color: black;
    display: inline-block;
}

.add-course-btn{
    width:25px;
    height:25px;
    font-size: large;
    font-weight: bold;
    border:2px solid white;
    padding:5px;
    color: white;
    text-decoration: none;
}

.add-course-btn:hover{
    background-color: white;
    color: #0B3865;
    cursor: pointer;
}