* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    text-align: center;
    padding: 16px 15px;
  }
  
  
  .content-table tbody tr,td {
    border-bottom: 2px solid #dddddd;
    color:white;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    height: 2px;
  }

  .content-table tbody tr:hover{
    background-color: #012261ee;
    color: white;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  